*{
    padding: 0%;        
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: rgb(4 109 193 / 93%);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int{ 
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
    width: 83%;
    padding: 0 20px;
}

.textjumbo{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 3rem;
    margin-left: 33rem;
    height: 200px;
    width: 500px;
}

.button{
    display: flex;
    justify-content: center;
}

.download{
width: auto;
background-color: white;
color : black;
}

.open{width: auto;
background-color: black;
color : white;
}

.login{
    background-color: white;
    color: black;
    padding: 5px;
}

/*link*/

.fontlink{
color: white;
}

/*fine header*/


/*MAIN contenitori*/

.containerjumbo {
height: 25rem;
background-image: url(img/jumbo.png);
background-size: cover;
background-repeat: no-repeat;
}

.containermain{
    display: flex;
    background-color: white;
    height: 525px;
}

.containerbig {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    flex-basis: 55%;
    height: 300px;
    margin-top: 10%;
    text-align: center;
    padding: 150px;
    gap: 1rem;
}

.containersmall{
    background-color: white;
    flex-basis: 45%;
    height: 300px;
    margin-top: 10%;
    }

.reverse{
    display: flex;
    flex-direction: row-reverse;
    background-color: gray;
}


.r{margin-right: 100px;}
.l{margin-left: 100px;}
.bg-gray{background-color: gray;}


/*immagini contenitori*/

.item1{
    background-image: url(img/item1.svg);
    background-size: contain;
    background-repeat: no-repeat;}

.item2{
    background-image: url(img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;}

.item3{
    background-image: url(img/item3.svg);
    background-size: contain;
    background-repeat: no-repeat;}

 /*proprietà container*/

.s{500px}
.containerb{
    height: 800px;
    padding: 2rem;
}

.blue{background-color: rgb(3, 3, 132);}
.white{background-color: rgb(242, 242, 245);}
.gray{background-color: gray;}
.black{background-color: black;}

.wave{
    height: 150px;
    background-image: url(img/wave.svg);
    filter: opacity(0.5);
}

.wavereverse{
    height: 150px;
    background-image: url(img/wave.svg);
    transform: rotate(180deg);
    filter: opacity(0.5);
}

/*fine proprietà container*/

/*Proprietà text*/
.s18{
    font-size: 18px;
    color: blue;
}

h2 {
    font-size: 25px;
}


/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.lastcontainer{display: flex;}
    
.containerfooter{
    display:flex;
    flex-direction: column;
    background-color: gray;
    height: 950px;
}


.image{
    background-image: url(img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 20%;
    height: 400px;
    padding: 19%;
}


.answer{    
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 400px;
    justify-content: space-evenly;
    font-size: 28px;
    font-weight: bold;
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    padding: 3rem;
    background-position-x: center;}


    .dimensionebutton{
        width: max-content;
    margin: 0 auto;  
    margin-bottom: 130px;
    color: white;
    background-color: rgb(36, 116, 167); 
    }

/*COLONNE*/

.col1{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-basis: 20%;
    height: 300px;
    margin-top: 4rem;
    color: white;
}
.col2{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-basis: 20%;
    height: 300px;
    margin-top: 4rem;
    color: white;
}

.col3{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-basis: 20%;
    height: 300px;
    margin-top: 4rem;
    color: white;
}

.col4{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-basis: 33%;
    height: 300px;
    margin-top: 4rem;
    color: white;
}

.colbig{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-basis: 44%;
    height: 300px;
    margin-top: 4rem;
    margin-left: 9.5rem;
}


.barend{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 20px;
    background-color: black;
    margin-top: 2rem;
    margin: 1rem auto;
}

article{
    padding: 10px;
    border-radius: 999px;
    margin-left: 18px;
    width: 120px;
    text-align: center;
        background-color: blue;
    font-size: 18px;
    color: white;
}



