*{
    padding: 0%;        
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: rgb(4 109 193 / 93%);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 83%;
    border: 2.5px dashed black;
    padding: 0 20px;
    background-color: orange;
}

.l /*link*/{
    display: flex;
    padding: 0 20px;
    gap: 1rem;
    border-left: 2.5px dashed black;
    border-right: 2.5px dashed  black;
}

/*fine header*/


/* contenitori*/


.containerjumbo {
height: 25rem;
background-image: url(img/jumbo.png);
background-size: cover;
background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3rem;
}


.m{
    height: 450px;
}

.b{
    height: 900px;
}

.answer{
text-align: center;
font-size: 35px;
font-weight: bold;
background-image: url(img/stars.svg);
background-size: contain;
background-repeat: no-repeat;
margin: auto;
}


 /*fine proprietà dimensione container*/


.blue{
    background-color: rgb(3, 3, 132);
}

.white{
    background-color: rgb(242, 242, 245);
}

.gray{
    background-color: gray;
}

.black{
    background-color: black;
}

/*fine proprietà colore container*/


.big{
    display: flex;
    margin:auto;
    background-image: url(img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.text{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 3rem 40rem;
    width: 15rem;
}

.studygroup{
    background-image: url(img/item1.svg);
}

.voice{
    background-image: url(img/item2.svg);
}

.chat{
    background-image: url(img/item3.svg);
}



.containervoiceconnected {
    display: flex;
    flex-basis: 30%;
    background-image: url(img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.textvoiceconnected{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5rem 47rem;
    width: 15rem;
}


.col1{
    display: flex;
    margin:auto;
    flex-direction: column;
    flex-basis: 15%;
    height: 400px;
    margin-top: 10px;
    background-color: rgb(7, 22, 226);
    border-left: 5px dashed rgb(252, 253, 254);
    border-bottom: 5px dashed rgb(251, 251, 253);
    border-top: 5px dashed rgb(246, 247, 248);
}
.col2{
    display: flex;
    flex-direction: column;
    margin:auto;
    flex-basis: 15%;
    height: 400px;
    margin-top: 10px;
    background-color: rgb(7, 22, 226);
    border-left: 5px dashed rgb(252, 253, 254);
    border-bottom: 5px dashed rgb(251, 251, 253);
    border-top: 5px dashed rgb(246, 247, 248);
}

.col3{
    display: flex;
    flex-direction: column;
    margin:auto;
    flex-basis: 15%;
    height: 400px;
    margin-top: 10px;
    background-color: rgb(7, 22, 226);
    border-left: 5px dashed rgb(252, 253, 254);
    border-bottom: 5px dashed rgb(251, 251, 253);
    border-top: 5px dashed rgb(246, 247, 248);
}

.col4{
    display: flex;
    flex-direction: column;
    margin:auto;
    flex-basis: 15%;
    height: 400px;
    margin-top: 10px;
    margin-right: 9.5rem;
    background-color: rgb(7, 22, 226);
    border: 5px dashed rgb(246, 247, 248);
}

.colbig{
    display: flex;
    margin:auto;
    flex-basis: 80%;
    height: 400px;
    margin-top: 10px;
    margin-left: 9.5rem;
    background-color: rgb(226, 7, 175);
    border: 5px dashed rgb(11, 11, 11);
}

.lastcontainer{
    display: flex;
}


/*START FOOTER*/

footer{
    background-color: black;
    height: 5rem;
    display: flex;
    justify-content: center;
}


.barend{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 80%;
    padding: 0 20px;
    background-color: aqua;
    margin-top: 20px;

}