*{
    padding: 0%;        
    margin: 0;
    box-sizing: border-box;
}


header{
    background-color: rgb(4 109 193 / 93%);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.int{ 
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 83%;
    border: 2.5px dashed black;
    padding: 0 20px;
    background-color: orange;
}

.l /*link*/{
    display: flex;
    padding: 0 20px;
    gap: 1rem;
    border-left: 2.5px dashed black;
    border-right: 2.5px dashed  black;
}

/*fine header*/



/* MAIN contenitori*/

.containerjumbo {
height: 25rem;
background-image: url(img/jumbo.png);
background-size: cover;
background-repeat: no-repeat;
}

.container{
    display: flex;
    flex-direction: column;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 3rem;
}

 /*proprietà container*/

.m{height: 450px;}
.b{height: 900px;}

.blue{background-color: rgb(3, 3, 132);}
.white{background-color: rgb(242, 242, 245);}
.gray{background-color: gray;}
.black{background-color: black;}
    
/*fine proprietà container*/


.big{
    display: flex;
    margin:auto;
    background-image: url(img/item4-big.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.text{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 3rem 40rem;
    width: 15rem;
}

.studygroup{
    background-image: url(img/item1.svg);
}

.voice{
    background-image: url(img/item2.svg);
}

.chat{
    background-image: url(img/item3.svg);
}



.containervoiceconnected {
    display: flex;
    flex-basis: 30%;
    background-image: url(img/item2.svg);
    background-size: contain;
    background-repeat: no-repeat;
}


.textvoiceconnected{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 5rem 47rem;
    width: 15rem;
}

.answer{
text-align: center;
font-size: 35px;
font-weight: bold;
background-image: url(img/stars.svg);
background-size: contain;
background-repeat: no-repeat;
margin: auto;
}



/*FOOTER*/
footer{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.lastcontainer{display: flex;}
    

/*COLONNE*/

.col1{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-basis: 20%;
    height: 300px;
    margin-top: 4rem;
    color: white;
}
.col2{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-basis: 20%;
    height: 300px;
    margin-top: 4rem;
    color: white;
}

.col3{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-basis: 20%;
    height: 300px;
    margin-top: 4rem;
    color: white;
}

.col4{
    display: flex;
    margin: auto;
    flex-direction: column;
    flex-basis: 33%;
    height: 300px;
    margin-top: 4rem;
    color: white;
}

.colbig{
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-basis: 44%;
    height: 300px;
    margin-top: 4rem;
    margin-left: 9.5rem;
}


.barend{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    padding: 0 20px;
    background-color: black;
    margin-top: 2rem;
    margin: 1rem auto;
}

article{
    padding: 18px;
    border-radius: 999px;
    margin-left: 18px;
    width: 120px;
    text-align: center;
        background-color: blue;
    font-size: 18px;
    color: white;
}

h2 {
    font-size: 18px;
    color: rgb(77, 77, 241);
}


